<main>
    <div class="background">
<section class="single-page">
    <div class="calc-body">
        <span class="visor" type="text"></span>
        <div class="line1 calc-line hover">
            <span id="op">C</span>
            <span></span>
            <span></span>
            <span class="operator" id="mult">*</span>
        </div>
        <div class="line1 calc-line hover">
            <span class="num">7</span>
            <span class="num">8</span>
            <span class="num">9</span>
            <span class="operator" id="div">/</span>
        </div>
        <div class="line2 calc-line hover">
            <span class="num">4</span>
            <span class="num">5</span>
            <span class="num">6</span>
            <span class="operator" id="min">-</span>
        </div>
        <div class="line5 gap hover">
            <div class="line3 calc-line">
                <div class="flex gap">
                <span class="num">1</span>
                <span class="num">2</span>
                <span class="num">3</span>
            </div>
            <div class="flex gap">
                <span class="num">0</span>
                <span class="num">,</span>
                <span class="operator" id="equal">=</span>
            </div>
            </div>
            <span class="operator calc-line" id="plus">+</span>
        </div>
    </div>
</section>
</div>
</main>